{% extends "base.html" %}

{% block title %}
<title>Dashboard - POS System</title>
{% endblock %}

{% block content %}
  <h3 class="text-center">Dashboard</h3>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h5>Ordering</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Click for ordeing.</p>
        <a href="{% url 'billing' %}" class="btn btn-primary">Start Ordering</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Invoice Generation</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Clicking on the button below will lead you to the invoice generation section.</p>
        <a href="{% url 'invoice_dashboard' %}" class="btn btn-primary">Generate Invoice</a>
      </div>
    </div>
	<div class="card">
	<div class="card-header">
        <h5>Enter Customer name and table number</h5>
      </div>
      <div class="card-body">
        <form method="POST">
			 {% csrf_token %}
			 {{form.as_p}}
			<input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
   		</div>
		
		
		</div>
        
      </div>
	  <br>
	  <div class="container"><a href ="{% url 'sold_products' %}" class="btn btn-primary">Sold Items</a>
	  
	  <a href ="{% url 'export' %}" class="btn btn-primary">Download Excel</a>
	  <a href ="{% url 'clear' %}" class="btn btn-primary">Clear Products</a>
	  
    </div>
	  
	  
{% endblock %}
