{% extends "base.html" %}

{% block title %}
<title>Customer Invoice - POS System</title>
{% endblock %}

{% block content %}
<h3 class="text-center no-print">Generate Customer Invoice</h3>
<div class="card no-print">
  <div class="card-body">
    <form action="#" method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Enter Customer ID: </span>
        </div>
          <input class="form-control" type="customerID" name="customerID" placeholder="Customer ID"/>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Go &raquo;</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
  	  <div class="col-md-12">
  			<h3 class=""><strong>Customer Invoice</strong></h3>
        <!-- <div class="row">
          <div class="col-xs-6 text-left">
      				<address>
      				<strong>Billed To:</strong><br />
      					{{ customer.name }}<br />
      					1234 Main<br />
      					Apt. 4B<br />
      					Springfield, ST 54321<br />
      				</address>
              <br />
      		</div>
          <div class="col-xs-6 text-right">
            {% if customer.photo %}
              <img class="avatar float-right img-thumbnail img-fluid" src="{{ customer.photo.url }}" style="width: 200px; margin-right: 1em;"/>
            {% endif %}
          </div>
        </div> -->
        <div class="row">
    			<div class="col-6">
    				<address>
    				<strong>Billed To:</strong><br>
						<h2>Table Number : {{customer.identity  }}</h2>
    					<h5>Customer Name : {{ customer.name }}</h5><br>
    				</address>
    			</div>
    			<div class="col-6 text-right">
            {% if customer.photo %}
              <img class="avatar float-right img-thumbnail img-fluid" src="{{ customer.photo.url }}" style="width: 200px; margin-right: 1em;"/>
            {% endif %}
    			</div>
    		</div>
  			<div class="card">
          <div class="card-header">
            Summary
          </div>
		  
          <div class="card-body">
            <div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
								<tr>
									<td><strong>Order Id</strong></td>
									<td><strong>Item Name</strong></td>
									<td><strong>Item Price</strong></td>
									
								</tr>
    						</thead>
    						<tbody>
									
							
                  
      							<tr>
      								
      								<td>
										{% for ids in four %}
											<a href= "{% url 'delete_that_list' ids %}"><p>#{{ ids }}</p></a>
										{% endfor %}
									</td>
									<td>
										{% for orderitem in three %}
											<p >{{ orderitem.name }}</p>
										{% endfor %}
									</td>
									<td>
										{% for sm in summ %}
											<p>₹{{ sm }}</p></a>
										{% endfor %}
									</td>
      								
      							</tr>
                  
				  
								
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Total</strong></td>
    								<td class="thick-line">₹{{ total }}.00</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
          </div>
		  
  			</div>
			
  	  </div>
    </div>
  </div>
</div>
{% endblock %}
